* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background-color: #8E53FF;
}

.logo {
    width: 200px;
    height: 200px;
    margin: auto auto;
    display: flex;
}

.main {
    width: 400px;
    height: 720px;
    background-color: #fff;
    display: flex;
    margin: auto auto;
    flex-direction: column;
    border-radius: 20px;
    align-items:left;
}

.relocator {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

#btn-convert {
    width: 330px;
    height: 44px;
    background-color: #8E53FF;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
}

#btn-convert:hover {
    background-color: #9178e2;
}

#input-select {
    width: 330px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding-left: 20px;
}

.input-value {  
    width: 330px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding-left: 20px;
    background-color: #f0f0f0;
}

#paragraph {
    margin-top: 20px;
    color: #ff5e00;
    margin-left: 20px;
    font-size: 20px;
}

.box-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border-color: #8E53FF;
    border-style: solid;
    border-radius: 20px;
    width: 330px;
    height: 300px;
    background-color: #f0f0f0;
}
.currency-identifier,
 .value{
    font-weight: bold;
    font-size: 18px;
    color: #ff5e00;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.arrow, .logo-usa, .logo-brasil{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.value {
    margin-top: 10px;
    font-size: 24px;
    color: #000000;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}